[Oo]bj/
[Bb]in/
[Dd]ebug/
[Rr]elease/
*.suo
*.user
/TestResults
*.vspscc
*.vssscc
*.dbmdl
*.svn*
*.resharper
*\_ReSharper*
*_ReSharper* 
*.Cache
SampleDataProject/packages/
SampleDataTests/packages/
packages/*
